
fieldset, img {border:0}

ol, ul, li {list-style:none}

:focus {outline:none}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

p {
  font-size: 12px;
  width: 150px;
  display: inline-block;
  margin-left: 18px;
}
h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}



.rejestr {
  margin: 20px auto;
  width: 343px; 
  height: 464px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}


form{
  margin: 0 30px;
}





hr{
  color: #a9a9a9;
  opacity: 0.3;
}





